[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2"
django-cors-headers = "==4.7.0"
djangorestframework = "==3.16.0"
djangorestframework-simplejwt = "==5.5.0"
psycopg2 = "==2.9.10"
tiktoken = "==0.9.0"
pillow = "==11.2.1"
jdatetime = "==5.2.0"
openai = "==1.82.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
